
<head>

body {
  background-image: url("https://imgur.com/a/pd4NaGL.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;

  margin: 0;
  font-family: sans-serif;
}
</head>

#sidebar {
  width: 220px;
  background: #f0f0f0;
  padding: 15px;
  position: fixed;
  height: 100vh;
}

main {
  margin-left: 240px;
  padding: 20px;
}


