<!DOCTYPE html>
<html>
<head>

</head>
<body>
<div style="background-image: url('https://br.pinterest.com/pin/1019643171903858423/.jpg');">
</body>


</html>



body {
  margin: 0;
  font-family: sans-serif;
  display: flex;
}

#sidebar {
  width: 220px;
  background: #f0f0f0;
  padding: 15px;
  position: fixed;
  height: 100vh;
}

main {
  margin-left: 240px;
  padding: 20px;
}


